
img data-src="" class="img-thumbnail flickr-list" src=photo.url(:thumbnail) data-holder-rendered="true" data-toggle="modal" data-target="#photo-large-modal" data-photo-url="#{photo.url(:large)}" data-photo-title='#{strip_tags j(photo.title)}'
